@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Heebo', sans-serif;
}

.glass-effect {
  backdrop-filter: blur(8px);
  background-color: rgba(0, 0, 0, 0.4);
}